{% extends "webTerritorios/layout.html" %}

{% block body %}
    <div class="container">
        <h1>Sordos del Territorio</h1> 
        <button class="btn btn-success"><a href="{% url 'webTerritorios:addSordo' %}" style="color:white">Añadir Sordo</a></button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Año Nacimiento</th>
                <th>Actualizar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for sordo in sordos %}
                <tr>
                    <td>{{ sordo.nombre }}</td>
                    <td>{{ sordo.direccion }}</td>
                    <td>{{ sordo.anio_nacimiento }}</td>
                    <td><button class="btn btn-secondary"><a href="{% url 'webTerritorios:editSordo' sordo.id %}" style="color:white">Actualizar</a></button></td>
                    <td><button class="btn btn-danger"><a href="{% url 'webTerritorios:deleteSordo' sordo.id %}" style="color:white">Eliminar</a></button></td>
                </tr>
            {% empty %}
                <tr><td>No hay sordos</td></tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}